/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2016, 5:38:04 PM
    Author     : yytdevelopment
*/

@font-face{
    font-family: helvetica;
    src:url('../fonts/HelveticaNeueLTStd Lt.otf')
}

.header > img{
    height: 250px;
    width: 100%;
}
.green{
    color:rgb(120,186,1);
}
.logo-text{
    padding-top: 20px;

}
.menu .nav-pills{
    padding-top: 10px;
}
.logo-text,.menu a,.menu button{
    font-size: 16px;
}
.menu .nav-pills li> a{
    color:rgb(34,34,34);   
}
.menu .container > div{
    padding-top: 10px;
    padding-bottom: 10px;
}
.green-btn,.form-inline{
    background-color: rgb(120,186,1);   
}
.menu{
    border-top: 10px solid rgb(33,57,109);
}
.menu button{
    color:#fff;
    font-weight: bold;
    width: 88px;
    border-radius: 4px;
}
.login-btn{
    background-color: rgb(38,65,131);
}
.login-btn:hover{
    color:#eee;
}
.menu .container >div:last-child{
    padding-top: 20px;
}
.text-section{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.text-section h1{
    font-size: 48px;
    font-weight: bold;
}
.form-inline{
    padding-top:10px;
    padding-bottom:10px;
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 100%;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.top-body,.bottom-body{
    background-color: rgb(245,245,245);
    min-height: 300px;
}
.top-body h1,.ending-sales h1{
    padding-top: 50px;   
}
.ending-sales h1{
    margin-bottom: 10px;
}
.middle-body h2 span{
    border-bottom: 1px solid #92c732;
    padding-bottom: 18px;
}

.middle-body h2,.top-body h1{
    color:#294894;
    text-transform: capitalize;
}
.middle-body .img-thumbnail,.bottom-body .img-thumbnail{
    padding: 0px;
}
.middle-body .col-sm-2 > p {
    padding-top: 10px;
    text-align: center;
}
.middle-body button,.bottom-body button{
    color:#fff;
    margin-top: 50px;
    margin-bottom: 28px;
}
.top-body .colors{
    background-color: rgb(255,255,255);
    height: 30px;
    padding-left: 35px;
    border-radius: 4px;   
    border:1px solid rgb(240,240,240);
}
.top-body p{
    padding-bottom: 30px;
}
.main-link{
    padding-top: 35px;
    padding-bottom: 35px;
}
.colors > div{
    height: 10px;
    width: 48px;
    margin: 10px;
    margin-left: 18px;
    padding-right: 5px;
}
.one{
    background-color: #233b76; 
}
.two{
    background-color: #729a49;
}
.three{
    background-color: #f4aa34;
}
.four{
    background-color: #d14834;
}
.five{
    background-color: #734d85;
}
.six{
    background-color: #3dbbe2;
}
.seven{
    background-color: #9dca30;
}
.eight{
    background-color: #f78058;
}
.nine{
    background-color: #7774a9;
}
.ten{
    background-color: #5e95b8
}
.elvn{
    background-color: #d4b94f;
}
.twlv{
    background-color: #ee7168;
}
.thrtn{
    background-color: #b49bc1;
}
.fortn{
    background-color: #44bcbb
}
.middle-body img{
    border-bottom: 3px solid rgb(139,195,34) !important;
    border:none;
    border-radius: 0px;
}
.bottom-body h1{
    margin-top: 40px;
}
.bottom-body .col-sm-3 > p {
    padding-left: 1px;
    padding-right: 25px;
    padding-top: 5px;
}

.footer{
    background-color: rgb(30,44,79);
}
.travel img{
    position: absolute;
    right: 10px;
    top: 26px;
}
.local img{
    position: absolute;
    right: 60px;
    top: -126px;  
}
.web img{
    position: absolute;
    right: 98px;
    top: -126px;  
}
.main-link .a >img{
    transform: rotate(90deg)
}
.main-link .b >img{
    transform: rotate(270deg);
    margin-left: 250px;
}
.main-link .c >img{
    transform: rotate(270deg);
    margin-left: 250px;
}
.season img{
    position: absolute;
    right: -25px;
    top: -189px;
    transform: rotate(-14deg);
}

.footer .container > .col-sm-3{
    padding-top: 30px;
}
.footer .container > .col-sm-3 h5{
    color: #8ac323;
}
.list-unstyled a {
    color:#fff;
    text-decoration: none;
}
.bottom-form{
    background-color: #151c2b;
}
.bottom-form p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #35415d;
}
.admin-head{
    background-color: #21396d;
    padding-bottom: 1px;
}
.admin-head h1{
    font-size: 38px;
    padding-bottom: 30px;
    padding-top: 40px;
    color:#fff;
}
.btn-sumit-admin,.btn-sumbit-admin:hover{
    background-color:#d67f21;
    color:#fff;
    width:100px;
}
.btn-sumit-consumer,.btn-sumit-consumer:hover,.btn-sumit-consumer:focus{
    background-color:#21d683;
    color:#fff;
    width:100px;
}
.admin-form{
    padding-bottom:150px;
    background-color: #f5f5f5;
    border-bottom: 3px solid #8fc62e;
}
.admin-form h2{
    padding-bottom:50px;
    border-bottom:1px solid #ccc;
}
.middle-consumer .form.form-horizontal{
    padding-bottom: 100px;
    padding-top: 40px;
}
.middle-consumer > div{
    padding-top: 50px;
}
.ending-sales {
    margin-bottom: 100px;
}
.other-sales h1{

    margin-bottom: 10px;
}
.other-sales .container{
    padding-top: 30px;
}
.other-sales .container .col-sm-12{
    padding-bottom: 50px;
}
.notify-alert {
    margin-bottom:5px;
    margin-left: 15px;
    margin-right: 15px;
}
#basepath{
    display:none;
}
#consumer-info{
    font-size: 17px;
    padding-right: 20px;
     margin-bottom: 20px;
     
}
#consumer-info-two{
    padding-left: 33px;
    padding-right: 50px;
    font-size: 15px;
      margin-top: 25px;
}
.referred-checkbox .checkbox-inline {
  
    padding-top: 10px !important;
}
#charity-info {
    margin-bottom: 30px;
    margin-top: 30px;
}
.admin-form hr{
    margin-top: 5px;
    border-width: 2px;
}
.admin-form h3{
    margin-bottom: 0px !important;
    color: #2d2d2d;
}
.admin-form h3 span{
    color:black;
}
.form-control::-moz-placeholder{
    color:#2d2d2d;
}
.text-white{
    font-size: 16px;
}
#charity-info{
    font-size: 15px;
}

.add-other,.add-other:focus,.add-other:hover{
      background-color:#21d683;
    color:#fff;
}
