#whole-page {
    background-color: #f0f0f0;
}

#featured-businesses {
    padding-top: 25px;
    text-align: center;
}

#show-search {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    font-size: 20px;
}

#search-filter {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
}

#filter-buttons {
    background-color: white;
    border: 5px	;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
    border-radius: 5px;
}

#filter-button-link {
		text-decoration: none;
}

#business-listing {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
}

#open24 {
		color: #8ac323;
}

#listing-image {
		width: 225px;
    padding: 15px;
    margin: 1px;
}

#listing-footer {
		background-color: #E8E8E8;
		border-radius: 5px;
		padding-bottom: 14px;
		padding-top: 15px;
		margin-bottom: 125px;
}

#listing-pages {
		padding-right: 10px;
}

#listing-button-link {
		text-decoration: none;
}

#listing-button-selected {
		text-decoration: none;
		pointer-events: none;
	  cursor: default;
}

#listing-buttons {
    background-color: white;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
    border-radius: 5px;
}

#listing-buttons-selected {
    background-color: #F0F0F0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
    border-radius: 5px;
    pointer-events: none;
    cursor: default;
}

#listing-button-next {
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 5px;
    text-decoration: none;
}

#listing-button-prev {
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 5px;
    text-decoration: none;
}

#side-pane {
		width: 300px;
		padding-left: 0px;
		padding-right: 0px;
}

#map {
		width: 300px;
		height: 275px;
		margin-bottom: 15px;
}

#featured-listings {
		font-size: 20px;
		color: #8ac323;
}

#listing-sidebar {
		text-align: center;
		width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
}

#listing-info {
		padding: 15px;
}

#listing-info h3{
    margin-top: 6px;
    margin-bottom: 13px;
    font-weight: normal;
    font-size: 22px;
}

#listing-info a{
    color: #4F94CD;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

#listing-info p{
		font-size: 14px;
		margin-top: 0px;
		margin-bottom: 1px;
		margin-left: 4px;
}

#star-rating {
		margin-top: 7px;
}